@font-face {
  font-family: yofont;
  src: url("/E-YOGA/images/iconfont/iconfont.woff") format("woff"),
  url("/E-YOGA/images/iconfont/iconfont.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/E-YOGA/images/iconfont/iconfont-menu.woff") format("woff"),
  url("/E-YOGA/images/iconfont/iconfont-menu.ttf") format("truetype");
}
